<div class="uk-card uk-card-default">
    {% include '@killam/components/c-general-property-card.html.twig' with {
        'title': fields.title.content, 

        'address_line1': fields.field_property_address_address_line1.content,
        'city': fields.field_property_address_locality.content,
        'province': fields.field_property_address_administrative_area.content,

        'image': fields.field_gallery_images.content,

        'min_rent': fields.field_yardi_minimum_rent.content,
        'max_rent': fields.field_yardi_maximum_rent.content,

        'min_beds': fields.field_yardi_minimum_beds.content,
        'max_beds': fields.field_yardi_maximum_beds.content,

        'min_avail': fields.field_yardi_min_available_date.content,
        'max_avail': fields.field_yardi_max_available_date.content
    }%}          
</div>