{% include '@killam/components/c-unit-row.html.twig' with {
    'price': fields.field_unit_price.content,
    'price_label': fields.field_unit_price.label,

    'bedrooms': fields.field_number_of_bedrooms.content,
    'bedrooms_label': fields.field_number_of_bedrooms.label,

    'bathrooms': fields.field_number_of_bathrooms.content,
    'bathrooms_label': fields.field_number_of_bathrooms.label,

    'size': fields.field_square_footage.content,
    'size_label': fields.field_square_footage.label,

    'availability': fields.field_available_date.content,
    'availability_label': fields.field_available_date.label,

    'apply_url': fields.field_apply_url.content
}%}
