<div uk-slider>
    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
        {% for row in rows %}
            <li>
                {{ row.content }}
            </li>
        {% endfor %}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>