
<div class="c-property-heading">
<h1 class="c-property-heading__title">{{ fields.title.content }}</h1>
<p class="c-property-heading__address">
{{ fields.field_property_address_address_line1.content }}, 
{{ fields.field_property_address_locality.content }}
{{ fields.field_property_address_postal_code.content }}
</p>
</div>