
<!--script>
//$(document).ready(function () {
    const button = document.getElementById('property-hero-lightbox-button');
    button.addEventListener('click', () => {

    const panel = UIkit.lightboxPanel({
        items: [
            {% for image in slider_images %}
                {
                    source: '{{ image.url }}',
                    caption: '{{ image.alt }}'
                },
            {% endfor %}
        ]
    });

    panel.show()
    });
//});

</script-->


{% for image in slider_images %}
    <span class="js-property-hero-lightbox-images" data-url="{{image.url}}" data-caption="{{ image.alt }}"></span>
{% endfor %}
<div class="c-property-hero uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
    <ul class="c-property-hero-slider uk-slider-items uk-grid-collapse">
        {% for image in slider_images %}
            <li class="c-property-hero-slider__image uk-width-1-2">
                <div class="uk-panel">
                    <img src="{{image.url}}" alt={{ image.alt }} height={{ image.height }} width={{ image.width }}>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    <div class="grid c-property-hero__buttons">
        <a id="property-hero-lightbox-button" class="uk-button js-hero-lightbox c-property-hero__buttons-photos"><i class="fal fa-images"></i> {{ 'View All Photos'|trans }}</a>
        {% if fields.field_virtual_tour_link.content %}
            <div class="c-property-hero__buttons-tour" uk-lightbox>
                <a class="uk-button" href="{{fields.field_virtual_tour_link.content|striptags('<!-- -->')|trim }}"><i class="fal fa-cube"></i> {{'3D Virtual Tour'|trans }}</a>
            </div>
        {% endif %}
    </div>
</div>