{% include '@killam/components/c-hero.html.twig' with {
    'title_tag': 'h3',
    'title': fields.field_hero_title.content,
    'text': fields.field_hero_content.content,
    'image': fields.field_hero_image.content,
    'cta__url': fields.field_hero_cta.content,
    'cta__text': fields.field_hero_cta_1.content,
}%}
