/*
    Layout (Objects)

    Cosmetic-free and reusable design patterns,
    only define layout and positioning:
    containers, grid, column, cards-list

    First layer of class-based selector

    Use only abstract/agnostic class names (eg. .cards-list)
*/

// @import 'flex-grid'; // deprecated: use CSS Grid FTW
@import 'container';
@import 'grid';
// @import 'l_sidebar_right';
// @import 'layout_debug';



/*
    Sidebar layouts with grid
*/
.l-sidebar-left {
    .l-main {
        @include grid-cell-span(2);

        @include mq(md) {
            @include grid-cell-span(8, 5);
            order: 2;
        }
    }

    .l-sidebar {
        @include grid-cell-span(2);
        margin-top: $space_2xl;

        @include mq(md) {
            @include grid-cell-span(4, 1);
            margin-top: 0px;
            order: 1;
        }
    }
}

.l-sidebar-right {
    //grid-template-columns: 1fr repeat(12, minmax(0, 1fr)) 1fr;
    .l-main {
        padding-right: remCalc(35);
        @include grid-cell-span(2);

        @include mq(md) {
            @include grid-cell-span(6, 2);
        }
    }

    .l-sidebar {
        @include grid-cell-span(2);
        margin-top: $space_2xl;

        @include mq(md) {
            @include grid-cell-span(4, 8);
            margin-top: 0px;
            //padding-left: $space_l;
        }

        @include mq(xl) {
            //padding-left: $space_2xl;
        }
    }
}

.l-sidebar__inner--sticky {
    @include mq(md) {
        position: sticky;
        top: 30px;
    }
}
