{% include '@killam/components/c-hero.html.twig' with {
    'title_tag': content.field_heading_type,
    'title': content.field_title,
    'text': content.field_content,
    'image': content.field_background_image.0
}%}
