.c-amenity-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: remCalc(15) remCalc(15) remCalc(15) remCalc(5);
    font-weight: $font-weight-medium;
    .c-amenity-item__icon {
        width: remCalc(30);
    }
    .c-amenity-item__desc {
        padding-left: remCalc(15);
        .c-amenity-item__desc_title {
            color: $color_black_blue;
            font-family: Bitter;
            @include responsive-property("font-size", $font_size_base);
        }
        .c-amenity-item__desc_subtitle {
            color: $color_light_black_blue;
            font-family: Manrope;
            font-size: remCalc(14);
            font-weight: $font-weight-medium;
        }
    }
}
