.c-floorplan-block {
    margin-left: 0;
    margin-bottom: remCalc(48);
    .c-floorplan-group {
        &.uk-open {
            box-shadow: 4px 7px 12px -3px $color_light_gray;
            .c-floorplan-group__title {
                color: $color_dark_green; 
            }

        }
        padding: remCalc(28);
        border: 1px solid $color_light_gray;
        .c-floorplan-group__title {
            font-family: Bitter;
            @include responsive-property("font-size", $font_size_accordian);
            color: $color_black_blue; 
            font-weight: 500;
        }

        .c-floorplan-group__list {
            display: grid;
            grid-template-columns: 50% 50%;
            .c-floorplan {
                display: flex;
                justify-content: left;

                .c-floorplan__icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    i:before {
                        font-size: remCalc(30);
                    }
                }
                .c-floorplan__description {
                    padding-left: remCalc(15);
                    .c-floorplan__description-title {
                        font-family: Bitter!important;
                        
                        font-size: remCalc(18)!important;
                        color: $color_black_blue!important;
                        a {
                            font-weight: $font-weight-medium!important;
                            color: $color_black_blue!important;
                            text-transform: none;
                            &:hover, &:visited {
                                color: $color_black_blue;
                            }
                        }
                    }
                    .c-floorplan__description-subtitle {
                        font-family: Manrope;
                        font-weight: $font-weight-medium;
                        font-size: remCalc(14);
                        color: $color_light_black_blue;
                    }
                }
            }
        }
    }
}