.c-property-heading {
    .c-property-heading__title {
        font-family: Bitter;
        font-weight: $font-weight-medium;
        @include responsive-property("font-size", $font_size_property_title);
        color: $color_black_blue;
    }

    .c-property-heading__address {
        font-family: Bitter;
        font-weight: $font-weight-medium;
        @include responsive-property("font-size", $font_size_accordian);
        color: $color_black_blue;
    }
}