.c-page-main-block {
    margin-top: remCalc(52);
    margin-bottom: remCalc(24);
    .c-page-main-block__title {
        font-family: Bitter;
        font-weight: $font-weight-medium;
        @include responsive-property("font-size", $font_size_head);
        color: $color_black_blue;
    }
    .c-page-main-block__body {
        font-weight: $font-weight-medium;
        font-family: Manrope;
        font-size: remCalc(16);
        color: $color_black_blue;
    }
}