.c-property-hero-slider__image {
    padding: 0 2px;
}

.c-property-hero__buttons {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    
    //color: $color_black_blue;

    a {
        font-family: Bitter;
        background-color: $color_white;
        color: $color_black_blue;
        text-transform: unset;
        font-size: remCalc(16);
        
        padding: 0 13px;
        &:hover {
            color: $color_black_blue;
        }

        i {
            padding-right: remCalc(8);
            font-size: remCalc(20);
            vertical-align: middle;
        }
    }

    .c-property-hero__buttons-photos {
        grid-column: 1 / span 2;
        //padding: 0;
    }

    .c-property-hero__buttons-tour {
        grid-column: 3 / span 3;
        //padding: 0;
        a {
            
        }
    }
}