#property-page-social-links {
    display: flex;
    justify-content: right;
    .region-social-links {
        padding: remCalc(10) remCalc(16) remCalc(10) remCalc(16);
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: auto;
        background-color: $color_off_white;
        @include mq(md) {
            margin-top: remCalc(20);
            @include grid-cell-span(3, 11);
        }
        .st_print_custom {
            margin-left: remCalc(14);
            &::before {
                font-family: "Font Awesome 5 Pro";
                content: '\f02f';
                cursor: pointer;
                color: $color_black_blue;
            }
        }
        
        .st_sharethis_custom {
            
            &::before {
                font-family: "Font Awesome 5 Pro";
                content: '\f1e0';
                cursor: pointer;
                color: $color_black_blue;
            }
        }

        .flag-favorite {
            margin-left: remCalc(16);
            i {
                &::before {
                    color: $color_black_blue;
                }
            }
        }
    }
}

