.c-page-sub-block {
    margin-bottom: remCalc(24);
    margin-top: remCalc(48);
    .c-page-sub-block__title {
        font-family: Bitter;
        font-weight: $font-weight-medium;
        @include responsive-property("font-size", $font_size_subhead);
        color: $color_black_blue;
    }
    .c-page-sub-block__body {
        font-family: Manrope;
        font-weight: $font-weight-medium;
        font-size: remCalc(16);
        color: $color_black_blue;
    }
}