.c-textimage {
    .c-textimage__image,
    .c-textimage__content {
        @include grid-cell-span(2);
    }

    @include mq(md) {
        .c-textimage__image,
        .c-textimage__content {
            @include grid-cell-span(6)
        }
    }

    @include mq(xxl) {
        .c-textimage__image {
            @include grid-cell-span(7)
        }
        .c-textimage__content {
            @include grid-cell-span(6)
        }
    }

    &.c-textimage--ileft {
        .c-textimage__image {
            @include mq(md) {
                order: 1;
            }
        }

        .c-textimage__content {
            @include mq(md) {
                order: 2;
            }
        }
    }

    &.c-textimage--iright {
        @include mq(xxl) {
            .c-textimage__content {
                @include grid-cell-span(6, 2);
            }
        }
    }
}

.c-textimage__container {
    @include mq(md){
        align-items: center;
    }
}
