.c-header {
    position: relative;
    background-color: $color_black_blue;
    color: $color_black;
    @include py($space_s);

    .site-logo {
        display: block;

        img {
            height: 75px;
            width: auto;
        }
    }
}



/*
    Header top
*/
.c-header-top {
    .container {
        display: flex;
        justify-content: flex-end;
    }

    /* Header top menu */
    .block-menu >  ul.menu {
        
        @include menu-base-h();

        & > li {
            
            @include py(0);

            & > a {
                padding: $space_2xs $space_m;
                text-decoration: none;
                text-transform: uppercase;
                font-size: remCalc(14);
                font-weight: 500;
                line-height: 1;
                color: $color_white;

                &:hover {
                    color: $color_green;
                }
            }

            &:last-child {
                a {
                    padding-right: 0px;
                }
            }
        }
    }
}



/*
    Header main
*/
.c-header-main {
    //background: $color_white;
    padding-top: $space_s;


    .residents-menu {
        //float: right;
        .menu {
            justify-content: flex-end;
            .menu-item {
                a {
                    font-size: remCalc(16);
                    font-family: Manrope;
                    font-weight: normal;
                    color: $color_white;

                    &.residents-portal::before {
                        content: '\f2bd';
                        font-family: "Font Awesome 5 Pro";
                        padding-right: 8px;
                    }

                    &.residents-favorites::before {
                        content: '\f004';
                        font-family: "Font Awesome 5 Pro";
                        padding-right: 8px;
                    }
                }
            }
        }
        
    }

    .container {
        display: flex;
        padding-left: remCalc(80);
        padding-right: remCalc(80);
        justify-content: space-between;
        //column-gap: $grid_col_gap;
        //grid-template-columns: 1fr repeat($grid_cols, $max-column-width) 1fr;
        //grid-template-rows: 100px;

        .c-header-main__brand {
            //grid-column: 2 / 4;
        }

        .c-header-main__nav {
            //grid-column: 5 / 13;
        }
    }

    /* Header main menu */
    .block-superfish {
        ul {
            background: $color_black_blue;
            justify-content: flex-end;
        }
    }
    .block-superfish > ul {
        @include menu-base-h();

        li.sf-depth-1 {
            @include py(0);

            & > a {
                padding: 0.5em remCalc(30);
            }

            a {
                //padding: $space_2xs $space_m;
                //text-decoration: none;
                //text-transform: uppercase;
                font-size: remCalc(20);
                font-weight: normal; 
                //line-height: 1;
                color: $color_white;
                font-family: Bitter;
                //padding: 0.5em 1.5em;

                /*&:hover {
                    color: $color_green;
                }*/
                .sf-sub-indicator {
                    overflow:visible;
                    top: 55%;
                    height: 15px;
                    width: 18px;
                    font-size: 12px;
                    right: 0.25em;
                    opacity: unset;
                
                    &::after {
                        content: '\f078';
                        font-family: "Font Awesome 5 Pro";
                        color: $color_white;
                    }
                }
            }

            &:last-child {
                a {
                    padding-right: 0px;
                }
            }

            li.sf-depth-2, li.sf-depth-3 {
                @include py(0);
    
                & > a {
                    padding: remCalc(9) remCalc(30);
                    line-height: 1.5;
                }

                a {
                    //padding: $space_2xs $space_m;
                    //text-decoration: none;
                    //text-transform: uppercase;
                    font-size: remCalc(18);
                    font-weight: normal; 
                    //line-height: 1;
                    color: $color_white;
                    font-family: Bitter;
    
                    .sf-sub-indicator {
                        overflow:visible;
                        top: 47%;
                        height: 15px;
                        width: 18px;
                    
                        &::after {
                            content: '\f054';
                            font-family: "Font Awesome 5 Pro";
                            color: $color_white;
                        }
                    }
                    /*&:hover {
                        color: $color_green;
                    }*/
                }
    
                &:last-child {
                    a {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}
