.gm-style-iw + button {display: none;}
.gm-style-iw-d {
    overflow:unset!important;
}
.gm-style-iw {
    padding: 0!important;
    border-radius: unset!important;
    .killam-infobox {
        max-width: remCalc(300);
        .killam-search-card-ranges {
            display: grid;
            row-gap: remCalc(8);
            grid-template-columns: 50% 50%;
            .killam-card-label {
                font-weight: 400;
                font-family: Bitter;
                color: $color_black_blue;
                @include responsive-property("font-size", $font_size_6);
            }
            .killam-card-value {
                font-family: Manrope;
                color: $color_light_black_blue;
                @include responsive-property("font-size", $font_size_6);
            }
            margin-top: remCalc(12);
            margin-bottom: remCalc(12);
            margin-left: remCalc(20);
        }
        .killam-infobox-name {
            margin-top: remCalc(12);
            font-weight: 400;
            color: $color_black_blue;
            font-family: Bitter;
            @include responsive-property("font-size", $font_size_6);
            margin-left: remCalc(20);
            margin-right: remCalc(20);
        }
        .killam-infobox-address {
            color: $color_light_black_blue;
            font-family: Manrope;
            margin-bottom: remCalc(12);
            margin-left: remCalc(20);
            margin-right: remCalc(20);
            @include responsive-property("font-size", $font_size_7);
        }
    }
    
}
.apartment-search-top {
    display: flex;
    justify-content: space-between;
    padding-left: remCalc(28);
    padding-right: remCalc(28);
    @include mq(lg) {
        padding-left: remCalc(80);
        padding-right: remCalc(80);
    }
    @include mq($until: lg) {
        max-height: remCalc(54);
    }
    
    box-shadow: 0 0px 2px 0px #000;
    position: relative;
    z-index: 3;
    .map-list-container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column; 
        button {
            /*display:none;
            @include mq(lg) {
                display:block;
            }*/
            .killam-map-view-text {
                @include mq(lg) {
                    display: none;
                }
            }
            height: remCalc(44);
            padding: 0 remCalc(12);
            font-family: Manrope;
            text-transform: none;
            border-radius: 5px;
            color: $color_black_blue;
            border: none;
            i {
                padding-left: remCalc(8);
            }
            &:hover {
                @include mq(lg) {
                    background-color: #ececee;
                }
                
            }
            &.killam-map-list-selected {
                background-color: $color_black_blue;
                color: $color_off_white;
                @include mq($until: lg) {
                    display:none;
                }
            }
        }
    }
    /*.show_map_list {
        .uk-inline {
            button {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
            }
        }
    }*/
    /*#killam-search-map-show-map {
        @include mq($until: lg) {
            display: none;
        }
    }*/
}

#search-mobile-filter-menu {
    .killam-modal-dialog {
        height: 100vh;
        background-color: $color_off_white;
        overflow-y: scroll;
        .search-filters-mobile-dropdown {
            .search-filters-mobile-dropdown-top {
                display: flex;
                justify-content: space-between;
                .killam-mobile-filters-top-buttons {
                    .killam-mobile-filters-close {
                        background-color: $color_off_white;
                        position: relative;
                    }
                }

                .killam-mobile-filters-top-label {
                    display: flex;
                    span {
                        font-size: remCalc(16);
                        font-family: Manrope;
                        font-weight: 500;
                    
                        margin-right: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: $color_black_blue;
                    }

                    i {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                .killam-mobile-filters-top-clear {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-right: remCalc(25);
                    #killam-search-map-clear-filters{
                        display: flex;
                        span { 
                            color: $color_black_blue;
                            font-size: remCalc(16);
                            font-family: Manrope;
                            font-weight: 500;
                            margin-right: 12px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        i {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }
            }
            
            .search-filters-mobile-dropdown-options {
                max-height: 77vh;
                overflow-y: scroll;
            }

            .killam-mobile-filters-bottom {
                position: absolute;
                bottom: 0;
                padding: remCalc(24);
                text-align: center;
                width: 100%;
                button {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: remCalc(56);
                    background-color: $color_killam_green;
                    span {
                        height: 100%;
                        display: inline-block; 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        color: $color_black_blue;
                        font-family: Manrope;
                        @include responsive-property("font-size", $font_size_base);
                    }
                    #killam-mobile-search-button {
                        float: right;
                        color: white;
                        //background-color: lightgreen;
                        //margin-right: 7px;
                        //margin-top: 8px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        //height: remCalc(45);
                        //width: remCalc(45);
                        i {
                            background-color: $color_dark_green;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .form-item {
                //rem-c
                margin-left: remCalc(24);
                margin-right: remCalc(24);
                margin-bottom: 0px;
                input {
                    height: remCalc(68);
                    font-family: Bitter;
                    color: $color_black_blue;
                    @include responsive-property("font-size", $font_size_p);
                    box-shadow: 1px 1px 3px -1px #000;
                    border: none;
                    padding-left: remCalc(24);
                }
                &.form-type-radio, &.form-type-checkbox {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    padding: 0;
                    label {
                        width: 100%;
                        text-transform: none;
                        font-family: Manrope;
                        //padding-left: remCalc(12);
                        text-align: left;
                        color: $color_light_black_blue;
                        @include responsive-property("font-size", $font_size_p);
                        &::before {
                            height: 1rem;
                        }
                    }
                    input {
                        box-shadow: none;
                        height: 2rem;
                        margin-right: remCalc(2);
                        &:not(:checked) + label:after {
                            opacity: 0;
                            background: $color_black_blue;
                        }
                        &:not(:checked) + label:before {
                            background: #fff!important;
                        }
                        &:checked, &:not(:checked) {
                            //position: absolute;
                            //left: 0;
                            //opacity: 0.01; 
                            display: none;
                            + label {
                                position: relative;
                                //padding-left: 2.3em;
                                //font-size: 1.05em;
                                //line-height: 1.7;
                                cursor: pointer;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    width: remCalc(21);
                                    height: remCalc(21);
                                    border: 1px solid $color_black_blue;
                                    background: $color_black_blue;
                                    //border-radius: .2em;
                                    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                                    -webkit-transition: all .275s;
                                        transition: all .275s;
                                }
                                &:after {
                                    content: '\f00c';
                                    font-family: "Font Awesome 5 Pro";
                                    position: absolute;
                                    top: .6em;
                                    right: .15em;
                                    //font-size: 1.375em;
                                    color: #fff;
                                    //background: red;
                                    line-height: 0;
                                    -webkit-transition: all .2s;
                                        transition: all .2s;
                                }
                            }
                        }
                    }
                }
                .form-radio {
                    margin-bottom: 0;
                }
            }
            .mobile-filters-text {
                font-size: remCalc(18);
                font-family: Bitter;
                margin-left: remCalc(28);
                color: $color_black_blue;
                font-weight: 500;
                margin-top: remCalc(32);
                margin-bottom: remCalc(12);
            }
            .killam-radio-dropdown-button {
                ///height: remCalc(68);
                margin-top: remCalc(15);
                margin-left: remCalc(24);
                margin-right: remCalc(24);
                margin-bottom: remCalc(2);
                //height: remCalc(60);
                //width: 100%;
                display: block;
                background-color: #fff;
                box-shadow: 1px 1px 3px -1px #000;
                padding: 8px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                > div.uk-button {
                    height: remCalc(60);
                    border: none;
                    padding: 0 remCalc(16);
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    div {
                        font-family: Bitter;
                        color: $color_black_blue;
                        text-transform: none;
                        display: flex;
                        justify-content: space-between;
                        @include responsive-property("font-size", $font_size_p);
                        i {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }
                }

                .killam-radio-dropdown-mobile {
                    display: none;
                    transition: -ms-transform 304ms ease-out 0s, -webkit-transform 304ms ease-out 0s, transform 304ms ease-out 0s, opacity 304ms ease-out 0s !important;
                    background-color: white;
                    margin-left: remCalc(14);
                    margin-right: remCalc(14);
                    margin-top: 1px;
 
                    .form-item {
                        margin-left: remCalc(0);
                        margin-right: remCalc(0);
                        padding: 0;
                        margin-bottom: remCalc(14);
                    }
                    #edit-price-m {
                        margin-left: remCalc(12);
                        margin-right: remCalc(12);
                        display: flex;
                        input::placeholder {
                            color: $color_light_black_blue;
                            //opacity: 0.7;
                            font-family: Manrope;
                        }
                        input {
                            margin-bottom: 0;
                            border-radius: 8px;
                            border: 1px solid $color_light_black_blue;
                            box-shadow: none;
                        }
                        .price-seperator {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: remCalc(12);
                            margin-right: remCalc(12);
                        }
                    }
                }
            }

            .killam-radio-dropdown-mobile {
                display: none;
                transition: -ms-transform 304ms ease-out 0s, -webkit-transform 304ms ease-out 0s, transform 304ms ease-out 0s, opacity 304ms ease-out 0s !important;
                background-color: white;
                margin-left: remCalc(24);
                margin-right: remCalc(24);
                margin-top: 1px;
                .form-item {
                    margin-left: remCalc(0);
                    margin-right: remCalc(0);
                    padding: 0px 0;
                }
                #edit-price-m {
                    margin-left: remCalc(12);
                    margin-right: remCalc(12);
                    display: flex;
                    input::placeholder {
                        color: $color_light_black_blue;
                        //opacity: 0.7;
                        font-family: Manrope;
                    }
                    input {
                        margin-bottom: 0;
                        border-radius: 8px;
                        border: 1px solid $color_light_black_blue;
                        box-shadow: none;
                    }
                    .price-seperator {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: remCalc(12);
                        margin-right: remCalc(12);
                    }
                }
            }
        }
    }
}

.search-filters-mobile {
    @include mq(lg) {
        display: none;
    }
    display: flex;
    justify-content: left;
    .filter-label {
        font-family: Bitter;
        white-space: nowrap;
        color: $color_black_blue;
        @include responsive-property("font-size", $font_size_8);
    }
    .filter-input-inline {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        &:not(:first-child) {
            border-left: 1px solid #D0D1D7;
            padding-left: remCalc(20);
        }
        padding-right: remCalc(20);
        margin-top: remCalc(12);
        margin-bottom: remCalc(12);

        .killam-radio-dropdown {
            padding: remCalc(20) 0;
            .form-type-radio {
                input {
                    display: none;
                }
                
                label {
                    color: $color_light_black_blue;
                    text-transform: none;
                    //opacity: 0.7;
                    width: 100%;
                    padding: 0 0.5rem;
                    
                    @include responsive-property("font-size", $font_size_p);
                    &:hover {
                        background-color: #ececee;
                    }
                }

                input:checked + label {
                    background-color: $color_black_blue;
                    color: $color_off_white;
                    opacity: 1;
                }
            }
        }

        select {
            margin-bottom: 0;
            border: none;
            appearance: none;
            font-family: Manrope;
            line-height: 1rem;
            padding-left: 0;
            padding-right: 0;
            @include responsive-property("font-size", $font_size_p);
            @include responsive-property("height", $font_size_p);
            option {
                font-family: Manrope;
                line-height: 1rem;
                //opacity: 0.7;
                @include responsive-property("font-size", $font_size_p);
                @include responsive-property("height", $font_size_p);
            }
        }

        .uk-dropdown {
            left: 0!important;
            z-index: 3;
        }

        .killam-search-bedrooms-text, .killam-search-avail-text {
            i {
                float: right;
            }
        }

        .uk-button {
            padding: 0;
            border: none;
            font-family: Manrope;
            text-transform: none;
            @include responsive-property("font-size", $font_size_p);
            i {
                font-family: "Font Awesome 5 Pro";
                font-style: normal;
                margin-left: remCalc(10);
            }
        }
    }
}
.search-filters {
    @include mq($until: lg) {
        display: none;
    }
    display: flex;
    justify-content: left;
    //box-shadow: 0px 10px;
    //padding-left: remCalc(80);
    //padding-right: remCalc(80);
    //box-shadow: 0px 3px 6px 0px #d4d4d4;
    .filter-label {
        font-family: Bitter;
        white-space: nowrap;
        color: $color_black_blue;
        @include responsive-property("font-size", $font_size_8);
    }
    
    .filter-input-inline {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        &:not(:first-child) {
            border-left: 1px solid #D0D1D7;
            padding-left: remCalc(20);
        }
        padding-right: remCalc(20);
        margin-top: remCalc(12);
        margin-bottom: remCalc(12);

        .killam-radio-dropdown {
            padding: remCalc(20) 0;
            .form-type-radio {
                input {
                    display: none;
                }
                
                label {
                    color: $color_light_black_blue;
                    text-transform: none;
                    //opacity: 0.7;
                    width: 100%;
                    padding: 0 0.5rem;
                    @include responsive-property("font-size", $font_size_p);
                    &:hover {
                        background-color: #ececee;
                    }
                }

                input:checked + label {
                    background-color: $color_black_blue;
                    color: $color_off_white;
                    opacity: 1;
                }
            }
        }

        select {
            margin-bottom: 0;
            border: none;
            appearance: none;
            font-family: Manrope;
            line-height: 1rem;
            padding-left: 0;
            padding-right: 0;
            @include responsive-property("font-size", $font_size_p);
            @include responsive-property("height", $font_size_p);
            option {
                font-family: Manrope;
                line-height: 1rem;
                color: $color_light_black_blue;
                //opacity: 0.7;
                @include responsive-property("font-size", $font_size_p);
                @include responsive-property("height", $font_size_p);
            }
        }

        .uk-dropdown {
            left: 0!important;
            z-index: 3;
        }

        .killam-search-bedrooms-text, .killam-search-avail-text {
            i {
                float: right;
            }
        }

        .uk-button {
            padding: 0;
            border: none;
            font-family: Manrope;
            text-transform: none;
            @include responsive-property("font-size", $font_size_p);
            i {
                font-family: "Font Awesome 5 Pro";
                font-style: normal;
                margin-left: remCalc(10);
            }
        }
    }

    .form-item {
        color: $color_black_blue;
        line-height: 1rem;
        margin-bottom: 0;
        #edit-location {
            @include responsive-property("height", $font_size_p);
            padding-left: 0;
            width: auto;
            //opacity: 0.7;
            box-shadow: none;
            border: none;
            font-family: Manrope;
            margin: 0;
            @include responsive-property("font-size", $font_size_p);
        }
    }
    .killam-search-price-button {
        border-left: 1px solid #D0D1D7;
        font-family: Manrope;
        line-height: 1rem;
        border: none;
        color: $color_black_blue;
        //opacity: 0.7;
        text-transform: none;
        text-align: left;
        padding: 0;
        min-width: remCalc(100);
        @include responsive-property("height", $font_size_p);
        @include responsive-property("font-size", $font_size_p);
        .killam-search-price-text {
            padding: 0;
            @include responsive-property("height", $font_size_p);
            @include responsive-property("font-size", $font_size_p);
            i {
                float: right;
                font-family: "Font Awesome 5 Pro";
                font-style: normal;
            }
        }
    }
    fieldset {
        .fieldset-legend {
            color: $color_black_blue;
            text-transform: none;
            font-family: Bitter;
            @include responsive-property("font-size", $font_size_5);
        }
        .fieldset-wrapper {
            .form-checkboxes {
                padding: 1rem 0;
                column-count: 2;
                label {
                    color: $color_light_black_blue;
                    text-transform: none;
                    //opacity: 0.7;
                    @include responsive-property("font-size", $font_size_p);
                }
                .form-item {
                    //margin-top: 1rem;
                    margin-bottom: remCalc(12);

                    input {
                        margin-bottom: 0;
                        margin-right: remCalc(12);
                    }
                }
            }
        } 
    }
    
    #edit-price {
        display: flex;
        input::placeholder {
            color: $color_light_black_blue;
            //opacity: 0.7;
            font-family: Manrope;
        }
        input {
            margin-bottom: 0;
        }
    }
}
.map-infobox {
    display: none!important;
}

.custom-cluster {
    div {
        span {
            color: #ffffff;
            font-size:  remCalc(16);
        }
    }
}
.list_map_checkbox {
    display: none!important;
}
#killam_apartment_search_bottom {
    display: flex;
    flex-direction: row;

    background-color: #F1F1EE;
    
    min-height: 77vh;
    max-height: 77vh;
    overflow-y: scroll;

    .search-results {
        position: relative;
        overflow-y: scroll;
        z-index: 2;
        /*.search-results-inner {
            overflow-y: scroll;
        }*/

        @include mq($until: lg) {
            display: none;
        }
        
        box-shadow: 0px 0 4px -2px #000;
        .flex-direction-nav a {
            display: block;
            -moz-transition: none;
            -webkit-transition: none;
            transition: none;
            opacity: 1;
            text-decoration: none;
        }
        .flex-direction-nav a:before {
            font-family: 'Font Awesome 5 Pro';
            opacity: 1;
        }
        .flex-direction-nav a.flex-prev {
            //padding-left: 0;
            //margin-left: 0px;
            left: 0;
        }
        .flex-direction-nav a.flex-prev:before {
            content: '\f177';
            color: white;
            background-color: $color_black_blue_transparent_2;
            font-weight: 300;
            font-size: 24px;
            padding: 0 10px;
            opacity: 1;

        }
        .flex-direction-nav a.flex-next {
            right: 0;
            //margin-right: 0px;
        }
        .flex-direction-nav a.flex-next:before {
            content: '\f178';
            color: white;
            background-color: $color_black_blue_transparent_2;
            font-weight: 300;
            font-size: 24px;
            padding: 0 10px;
            height: 40px;
            width: 40px;
            opacity: 1;
        }
        .killam-search-map-explore {
            position: absolute;
            @include mq(lg) {
                bottom: 0;
                position: sticky;
            }
            top: 0;
            background-color: white;
            width: 100%;
            border: 1px solid #E5E6E8;
            padding-left: remCalc(28);
            @include mq(lg) {
                padding-left: remCalc(80);
            }
            padding-top: remCalc(12);
            padding-bottom: remCalc(12);
            z-index: 9999;
            a {
                display: flex;
                justify-content: space-between;
                &:hover {
                    text-decoration: none;
                }
                .killam-search-map-explore-title {
                    color: $color_black_blue;
                    font-family: Bitter;
                    font-style: normal;
                    font-weight: 600;
                    @include responsive-property("font-size", $font_size_p);
                }
    
                .killam-search-map-explore-living {
                    font-family: Manrope;
                    color: $color_light_black_blue;
                    @include responsive-property("font-size", $font_size_p);
                }

                .killam-search-map-explore-arrow {
                    color: $color_black_blue;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                    padding-right: remCalc(28);
                    @include mq(lg) {
                        padding-right: remCalc(42);
                    }
                    
                    font-size: remCalc(24);
                }
            }
        }
    }

    .search-results {
        &.full_width {
            @include mq($until: lg) {
                display: block;
            }
            //grid-column: 2 / 14;
            width: 100%;
            #killam_apartment_search_results{
                .killam-spinner-container {
                    .killam-loading-spinner {
                        font-size: remCalc(60);
                        //margin: 0 auto;
                    }
                }
                
                width: 100%;
                #killam-search-result-cards {
                    @include mq(lg) {
                        display: grid;
                        grid-template-columns: 50% 50%;
                    }
                }
            }
            
        }
    }
    

    #killam_apartment_search_results {
        height: 100%;
        .killam-spinner-container {
            width: 100%;
            min-height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            .killam-loading-spinner {
                font-size: remCalc(60);
                color: $color_light_black_blue;
                font-weight: 300;
                //margin: 0 auto;
            }
        }
        @include mq(lg) {
            padding-left: remCalc(80);
            padding-right: remCalc(20);
        }
        padding-left: remCalc(28);
        padding-right: remCalc(28);
        min-height: 100%;
        //grid-column: 2 / 7;
        background-color: #F1F1EE;
        overflow-y: scroll;
        //width: 45%;

        @include mq(lg) {
            min-width: remCalc(640);
        }
        
        #killam-search-result-total {
            font-size: 1rem;
            font-family: Manrope;
            color: $color_black_blue;
            margin: remCalc(25) 0 remCalc(25) 3px;
            @include mq($until: lg) {
                margin-top: remCalc(96);
            }
        }

        &.full_width {
            //grid-column: 2 / 14;
            width: 100%;
            #killam_apartment_search_results{
                width: 100%;
                #killam-search-result-cards {
                    @include mq(lg) {
                        display: grid;
                        grid-template-columns: 50% 50%;
                    }
                    
                }
            }
            
        }

        .killam-search-result-card {
            box-shadow: 0px 3px 6px 0px #d4d4d4;
            position: relative;
            background-color: white;
            margin: remCalc(20) 0;
            display: flex;
            @include mq($until: lg) {
                flex-direction: column;
            }
            
            @include mq(lg) {
                width: remCalc(540);
                max-height: 330px;
            }
            .killam-search-result-image {
                @include mq($until: lg) {
                    height: remCalc(300);
                }
                @include mq(lg) {
                    width: 50%;
                }
                position: relative;
                .flexslider {
                    .flex-viewport {
                        height: 100%;
                    }
                    .slides {
                        height: 100%; 
                    }
                    height: 100%;
                    border: none;
                    margin-bottom: 0;
                    .slides > li {height: 100%;}
                    .slides img {
                        display: inline-block;
                        height: 100%;
                    }
                    .flex-direction-nav {
                        //display: none;
                        height: 0;
                        .flex-nav-prev, .flex-nav-next {
                            ul li {
                                padding: 0;
                            }
                        }
                    }
                }
                .killam-card-icons {
                    position: absolute;
                    right: remCalc(5);
                    top: remCalc(5);
                    display: flex;
                    .killam-card-icon {
                        //opacity: 0.7;
                        font-family: Manrope;
                        @include responsive-property("font-size", $font_size_p);
                        margin: 0 remCalc(2);
                        background-color: $color_black_blue_transparent;
                        color: $color_off_white;
                        width: remCalc(40);
                        height: remCalc(40);
                        border-radius: 50%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        flex-direction: column;
                        i {
                            opacity: 1;
                        }
                    }
                }
            }
            .killam-search-result-info {
                width: remCalc(280); 
                padding: remCalc(20);
                .killam-search-result-info-title {
                    font-family: Bitter;
                    color: $color_black_blue;
                    //font-size: map.get($font_size_subhead, "lg");
                    @include responsive-property("font-size", $font_size_subhead);
                }
                .killam-search-result-info-address {
                    font-family: Manrope;
                    color: $color_light_black_blue;
                    //opacity: 0.7;
                    @include responsive-property("font-size", $font_size_p);
                }
                .killam-search-result-info-total {
                    margin-top: remCalc(16);
                    margin-bottom: remCalc(8);
                    font-family: Manrope;
                    color: $color_black_blue;
                    font-weight: $font-weight-semiBold;
                    @include responsive-property("font-size", $font_size_p);
                }
                .killam-search-card-ranges {
                    display: grid;
                    row-gap: remCalc(8);
                    grid-template-columns: 50% 50%;
                    .killam-card-label {
                        font-family: Bitter;
                        color: $color_black_blue;
                        @include responsive-property("font-size", $font_size_7);
                    }
                    .killam-card-value {
                        font-family: Manrope;
                        color: $color_light_black_blue;
                        //opacity: 0.7;
                        @include responsive-property("font-size", $font_size_7);
                    }
                }
            }
            .killam-card-featured {
                box-shadow: 0px 1px 2px 0px #000;
                left: -5px;
                top: 8px;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                position: absolute;
                height: remCalc(38);
                padding: remCalc(22);
                font-family: Bitter;
                background-color: $color_killam_green;
                color: $color_black_blue;
                font-weight: $font-weight-semiBold;
                text-align: center;
                @include responsive-property("font-size", $font_size_p);
            }

            .killam-card-newly-renovated {
                box-shadow: 0px 1px 2px 0px #000;
                left: -5px;
                top: 8px;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                position: absolute;
                height: remCalc(38);
                padding: remCalc(22);
                font-family: Bitter;
                position: absolute;
                background-color: $color_black_blue;
                color: $color_off_white;
                font-weight: $font-weight-semiBold;
                text-align: center;
                @include responsive-property("font-size", $font_size_p);
            }
            a {
                color: $color_off_white;
                &:hover, &:visited {
                    color: $color_off_white;
                }

                .killam-card-link {
                    background-color: $color_dark_green;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    width: remCalc(40);
                    height: remCalc(40);
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                }
            }
        }
    }

    #killam-search-map-google-map {
        //min-height: 100%;
        //width: 60%;
        //grid-column: 7 / 15;
        //width: 55%;
        
        flex-grow: 1;
    }
}