/*
    Settings:
        - functions (used sometimes to define values in settings)
        - Global variables and configuration
*/
@import 'functions';


/*
    Breakpoints (sass-mq package)
*/
$mq-breakpoints: (
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1440px
);

// viewport/breakpoint debug: comment out in production
$mq-show-breakpoints: (md, lg, xl, xxl);

$font-weight-semiBold: 700;
$font-weight-medium: 500;

/*
    Containers (see _containers.scss), we have 2 options:
    1) fluid (as Foundation)
    2) fixed per breakpoint (as Bootstrap)
*/
// Fluid container: max-width: 100% until bigger screens
$container_fluid_max_width: 1440px;

// Fixed container: max-width per breakpoint
$container_fixed_max_widths: (
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1440px
);
$container_additional_padding_px: 0;
$container_additional_padding: remCalc(0);



/*
    Grid
*/
$grid_cols: 12;
$grid_col_gap: 30px;
$grid_row_gap: 0px;
$max-column-width: ($container_fluid_max_width - ($container_additional_padding_px * 2) - ($grid_col_gap * 11)) / 12;



/*
    Spacings/sizes
*/
$space_2xs: 0.25rem;
$space_xs: 0.5rem;
$space_s: 0.75rem;
$space_m: 1rem;
$space_l: 1.5rem;
$space_xl: 2rem;
$space_2xl: 3rem;
$space_3xl: 4rem;
$space_4xl: 8rem;

/* sass map useful to generate classes (_spacing-classes.scss) */
$spacings: (
    "2xs": $space_2xs,
    "xs": $space_xs,
    "s": $space_s,
    "m": $space_m,
    "l": $space_l,
    "xl": $space_xl,
    "2xl": $space_2xl,
    "3xl": $space_3xl,
    "4xl": $space_4xl
);

/* forms */
$form-input_heigh: 45px;



/*
    Colors
*/

$color_grey: #ECECEC;
$color_grey2: #D8D8D8;
$color_grey-dark: #34393F;
$color_blue-sky: #87BAE5;
$color_blue-sky2: #B5CEE4;
$color_blue-royal: #005689;
$color_blue-dark: #003555;
$color_blue-light: #E7EFFA;
$color_green: #85BE60;

$color_white: #FFF;
$color_black: #333;
$color_black0: #000;

$color_black_blue: #141D38;
$color_black_blue_transparent: #141D38A5;
$color_black_blue_transparent_2: #141D384C;
$color_dark_green: #3DA014;
$color_killam_green: #70BE45;
$color_copper: #B97543;
$color_tan: #D29569;
$color_killam_yellow: #FEA600;
$color_off_white: #F1F1EE;
$color_light_black_blue: #5A6073;
$color_light_gray: #D3D3D9;


$color_primary: $color_blue_royal;
$color_secondary: $color_green;

/* sass map useful to generate classes */
$colors: (
    "white": $color_white,
    "black": $color_black,
    "black0": $color_black0,
    "grey-dark": $color_grey-dark,
    "blue-sky": $color_blue-sky,
    "blue-sky2": $color_blue-sky2,
    "blue-royal": $color_blue-royal,
    "blue-dark": $color_blue-dark,
    "blue-light": $color_blue-light,
    "green": $color_green,
    "grey": $color_grey,
    "grey2": $color_grey2
);



/*
    Typography
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
$font_family_1: 'Open Sans', sans-serif;
$font_family_2: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Oxygen:wght@300;400;700&display=swap');
$font_family_1: 'Fira Sans', sans-serif;
$font_family_2: 'Oxygen', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Poppins:wght@300;400;600;700&display=swap');
$font_family_1: 'Poppins', sans-serif;
$font_family_2: 'Lora', serif;

$font_family_icons: 'Font Awesome 5 Pro';
$fa-font-path: '../fonts/font-awesome';


/*
    Responsive typography: stepped with value per breakpoint map
    (to be used with responsive-property mixin)
*/
$font_size_base: (
    sm: remCalc(18)
);

$font_size_1: (
    sm: remCalc(32),
    lg: remCalc(44)
);

$font_size_2: (
    sm: remCalc(26),
    lg: remCalc(34)
);

$font_size_3: (
    sm: remCalc(24),
    lg: remCalc(26)
);

$font_size_4: (
    sm: remCalc(20),
    lg: remCalc(24)
);

$font_size_5: (
    sm: remCalc(20),
    lg: remCalc(20)
);

$font_size_6: (
    sm: remCalc(14),
    lg: remCalc(18)
);

$font_size_7: (
    sm: remCalc(14),
    lg: remCalc(14)
);

$font_size_8: (
    sm: remCalc(10),
    lg: remCalc(12)
);

$font_size_property_title: (
    sm: remCalc(30),
    lg: remCalc(48)
);

$font_size_accordian: (
    sm: remCalc(18),
    lg: remCalc(20)
);
$font_size_subhead: (
    sm: remCalc(24),
    lg: remCalc(28)
);

$font_size_head: (
    sm: remCalc(28),
    lg: remCalc(38)
);

$font_size_p: (
    sm: remCalc(16),
    lg: remCalc(16)
);

/*
    Responsive typography: fluid with clamp
    Font sizes with clamp to be used directly
*/
/*
$font_size_fluid_1: clamp(#{remCalc(50)}, 4.5vw, #{remCalc(75)});
$font_size_fluid_2: clamp(#{remCalc(40)}, 4vw, #{remCalc(56)});
$font_size_fluid_3: clamp(#{remCalc(30)}, 3vw, #{remCalc(42)});
$font_size_fluid_4: clamp(#{remCalc(22)}, 2.5vw, #{remCalc(31)});
$font_size_fluid_5: clamp(#{remCalc(18)}, 2vw, #{remCalc(23)});
*/



/*
    Transitions
*/
$trans_linear: all 250ms linear;
$trans_linear_fast: all 100ms linear;
$trans_easeInOutCubic: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
$trans_easeOutCubic: all 450ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
$trans_easeOutCubic_fast: all 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
$trans_easeOutCubic_slow: all 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
$trans_func_easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$trans_func_easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);



/*
  Various
*/
$border_radius: 0px;
$slashy_degs: 120deg;
$box_shadow: 0px 4px 4px 2px rgba(0,0,0,0.1);



/*
    lightgallery.js vars
*/
$backdrop-opacity: 0.85;
$lg-toolbar-bg: rgba($color_black0, 0.9);
$lg-icon-bg: rgba(0, 0, 0, 0.45) !default;
$lg-icon-color: #fff !default;
$lg-sub-html-bg: rgba(0, 0, 0, 0.95) !default;
$lg-sub-html-color: #FFF !default;
$lg-border-radius-base: 0 !default;
$lg-path-fonts: '../fonts/lg' !default;
$lg-path-images: '../images/lg' !default;
$zindex-outer: 20000000;
$zindex-backdrop: 20000000;
