/*
    Drupal We Megamenu
*/
.navbar-we-mega-menu {
  background: transparent;
}


.we-mega-menu-ul > .we-mega-menu-li > a {
    background: transparent;
    text-decoration: none;
    color: $color_white;
}

.we-mega-menu-ul > .we-mega-menu-li.active-trail > a {
    &:after {
        @include mq(lg) {
            width: calc(100% - #{2 * $space_l}) !important;
        }
    }
}

.we-mega-menu-submenu li.we-mega-menu-li.active>a {
    border-bottom: none;

    &:after {
        width: calc(100% - #{2 * $space_l}) !important;
    }
}

.navbar-we-mega-menu.navbar .nav-tabs>li.active > a,
.navbar-we-mega-menu.navbar .nav-tabs>li.open > a {
    @include mq($until: lg) {
        background: transparent !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.we-mega-menu-li {
    position: static !important;

    & > .we-mega-menu-submenu {
        width: 100% !important;
        background: $color_black0;
        top: 100%;
        left: 0px;
    }
}


.we-mega-menu-ul {
    position: static;
}

.c-header-main {
    position: relative;
}




.navbar-we-mega-menu {
    color: $color_white !important;

    a {
        color: $color_white !important;
    }

    .we-mega-menu-submenu {
        // transition: none !important;
        /*
        @include mq($until: md) {
            transition: $trans_easeOutCubic_fast;
        }
        @include mq(md) {
            padding: $space_3xl 0px;
            transition: $trans_linear;
        }
        */
    }

    .we-mega-menu-row {
        @include mq(md) {
            @include grid();
            max-width: 1200px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include px($space_m);
        }

        .span6 {
            @include mq(md) {
                flex: none;
                max-width: none;
            }
        }
    }

    .we-mega-menu-col:first-child {
        @include mq(md) {
            @include grid-cell-span(5, 2);

            /*
            transform: translateX(-30px);
            transition: $trans_easeOutCubic_slow;
            transition-delay: 150ms;
            opacity: 0;
            */
        }
    }

    .we-mega-menu-col:nth-child(2) {
        @include mq(md) {
            @include grid-cell-span(4, 8);
            /*
            transform: translateX(30px);
            transition: $trans_easeOutCubic_slow;
            transition-delay: 300ms;
            opacity: 0;
            */
        }

    }
}

.we-mega-menu-ul .dropdown-menu:hover>.we-mega-menu-submenu {
    @include mq($until: md) {
        transition: $trans_easeOutCubic_fast;
    }

    @include mq(md) {
        padding: $space_3xl 0px;
        transition: $trans_easeOutCubic_fast;
    }

    /*
    .we-mega-menu-col:first-child,
    .nav li {
        @include mq(md) {
            transform: translateX(0px);
            opacity: 1;
        }
    }
    */

}

.navbar-we-mega-menu .type-of-block h2 {
    @extend .h2;
    margin-bottom: $space_m;
    text-transform: none;
}


/*
    First level menu items
*/
.we-mega-menu-ul>.we-mega-menu-li>a {
    font-family: $font_family_1;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: block;
    padding: $space_s;

    @include mq(xl) {
        @include responsive-property("font-size", $font_size_6);
        padding: $space_m $space_l;
    }

    &.we-mega-menu-li {
        position: relative !important;
    }

    &:before {
        @include mq(md) {
            display: none;
        }

    }

    &:after {
        @include mq(md) {
            content: '';
            display: block;
            position: absolute;
            top: auto;
            bottom: $space_s;
            left: $space_l;
            width: 0%;
            height: 2px;
            background: $color_green;
            opacity: 1;
            transition: $trans_easeOutCubic_fast;
        }
    }
}

.we-mega-menu-ul>.we-mega-menu-li:hover > a {
    background: $color_black;

    &:after {
        @include mq(md) {
            width: calc(100% - #{2 * $space_l});
            transition: $trans_easeOutCubic_fast;
        }
    }
}

.we-mega-menu-ul>.we-mega-menu-li.active-trail>a {
    background: $color_black;
}

/*
    Second level links
*/
.we-mega-menu-submenu li.we-mega-menu-li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: $space_s $space_l !important;

    @include mq(md) {
        padding: $space_2xs $space_l !important;
    }

    @include mq(xl) {
        padding: $space_xs $space_l !important;
    }
}

.we-mega-menu-ul .we-mega-menu-li .nav li{
    @include mq(md) {
        margin-bottom: $space_s;
        /*
        transform: translateX(30px);
        opacity: 0;
        transition: $trans_easeOutCubic;

        &:first-child {
            transition-delay: 50ms;
        }

        &:nth-child(2) {
            transition-delay: 100ms;
        }

        &:nth-child(3) {
            transition-delay: 150ms;
        }

        &:nth-child(4) {
            transition-delay: 200ms;
        }

        &:nth-child(5) {
            transition-delay: 250ms;
        }

        &:nth-child(6) {
            transition-delay: 300ms;
        }

        &:nth-child(7) {
            transition-delay: 350ms;
        }

        &:nth-child(8) {
            transition-delay: 400ms;
        }

        &:nth-child(9) {
            transition-delay: 450ms;
        }
        */
    }

    & > a {
        font-family: $font_family_1;
        font-size: 16px;

        display: inline-block;
        position: relative !important;


        &:hover {
            &:after {
                @include mq(md) {
                    width: calc(100% - #{2 * $space_l});
                    transition: $trans_easeOutCubic;
                }
            }

            &:before {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: auto;
            bottom: calc(#{$space_xs} - 2px);
            left: $space_l;
            width: 0%;
            height: 2px;
            background: $color_green;
            opacity: 1;
            transition: $trans_easeOutCubic_fast;
            transform: none;
        }

        &:before {
            @include mq(md) {
                // content: '>';
                font-family: $font_family_icons;
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                content: fa-content($fa-var-chevron-right);

                display: block;
                position: absolute;
                top: 11px;
                right: $space_xs;
                opacity: 0;
                transition: $trans_easeOutCubic_fast;
                transform: translateX(-5px);
                margin-top: 0px;
                color: $color_green;
                transition-delay: 150ms;
            }
        }
    }
}



/*
    Mobile menu
*/
.region-we-mega-menu {
    padding: 0px;
    margin: 0px;
    background: $color_black;
}

.navbar-toggle {
    display: block;
    width: 28px;
    height: 18px;
    position: relative;
    top: -3px;
    background: $color_black;


    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: $color_black !important;
    }

    @include mq($until: lg) {
        display: block !important;
    }

    @include mq(lg) {
        display: none;
    }

    .icon-bar {
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 2px;
        transition: $trans_easeOutCubic_fast;
        transform-origin: center;

        @include mq($until: lg) {
            background: $color_white !important;
        }

        &:nth-child(1) {
            transform: translateY(-9px);
        }

        &:nth-child(2) {
            transform: translateY(0px);
            width: 100%;
        }

        &:nth-child(3) {
            transform: translateY(9px);
        }
    }

    &.menu-opened {
        .icon-bar {
            &:first-child {
                transform: rotate(45deg) translateY(0px);
            }

            &:nth-child(2) {
                opacity: 0;
                width: 0px;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(0px);
            }
        }
    }
}

body {
    & > .overlay {
        @include mq($until: md) {
            display: none;
        }
    }
}

.navbar-we-mega-menu .type-of-block {
    font-family: $font_family_1;

    @include mq($until: md) {
        display: block !important;
        padding: $space_xs 0px;
        width: auto;
    }

    a {
        text-decoration: none;
        font-family: $font_family_1;
        font-weight: 700;
        color: $color_blue_sky !important;
        transition: $trans_linear_fast;

        &:hover {
            color: $color_green !important;
        }
    }

    h2 {
        @include mq($until: md) {
            display: none;
        }
    }
}

.we-mega-menu-li>.we-mega-menu-submenu {
    background: $color_black;
    transition: $trans_linear_fast;
    @include mq($until: md) {
        width: auto !important;
    }
}

.we-mega-menu-ul {
    & > li {
        & > a {
            @include mq($until: md) {
                font-weight: 500;
            }
        }
    }
}

.navbar-we-mega-menu.navbar,
.we-mega-menu-li>.we-mega-menu-submenu,
.navbar-we-mega-menu.navbar .nav .open>a,
.navbar-we-mega-menu.navbar .nav .open>a:hover {
    @include mq($until: md) {
        background: $color_black;

    }
}

.navbar-we-mega-menu.navbar .nav .open > a{
    @include mq($until: md) {
        text-transform: uppercase;
        border-bottom: thin solid $color_green !important;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.navbar-we-mega-menu.navbar ul>li ul {
    @include mq($until: md) {
        padding-left: 0px;
    }
}

.navbar-we-mega-menu.navbar .we-mega-menu-ul>li>a {
    text-transform: uppercase;
}

.region-we-mega-menu {
    .container-fluid {
        @include mq($until: md) {
            padding-right: $space_l !important;
            padding-left: $space_l !important;
        }
    }
}

.navbar-we-mega-menu.navbar .dropdown-menu>.we-megamenu-nolink:after {
    @include mq($until: md) {
        right: 0px;
    }
}

.navbar-we-mega-menu.navbar ul> li ul {
    padding-bottom: $space_xl;
}

.navbar-we-mega-menu.navbar {
    @include mq($until: lg) {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        height: calc(100vh - 265px); /* 75px ios bottom bar height + 190px header height*/
        overflow: scroll;
        display: none !important;
    }
}

body.toggled {
    right: 0px;
}

.navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
    @include mq($until: lg) {
        padding-top: $space_2xl;
        animation: none;
        display: block !important;
    }
}

body > .btn-close {
    display: none !important;
}
