.view-virtual-tours {
    .view__sidebar__inner {
        position: sticky;;
        top: 30px;
    }

    .views-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .virtual-tour__link {
        font-size: remCalc(14);
        @include py($space_xs);
        font-weight: 500;
        text-align: center;
        color: lighten($color_grey-dark, 35%);

        &:after {
            color: lighten($color_grey-dark, 35%);
            @include abs-vertical-center();
        }
    }

    .c-card-circle {
        .card__icon {
            background: $color_green;
        }
    }

}
