/*
    Base: ground zero styles.

    No classes:
        - normalize/reset
        - type selectors
*/



/* Normalize/Reset */
@import 'sanitize.css/sanitize';
@import 'forms';



/* Type selector style */
body {
    background: $color_white;
    color: $color_black;
    @include ts-base();
}

p {
    margin-top: 0px;
    margin-bottom: $space_m;

    &:last-child {
        margin-bottom: 0px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include ts-headlines-commons();
}

h1{
    @include fs1();
}

h2{
    @include fs2();
}

h3{
    @include fs3();
}

h4{
    @include fs4();
}

h5{
    @include fs5();
}

h6{
    @include fs6();
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    color: $color_blue_royal;
    font-weight: 700;
    text-decoration: underline;
    transition: $trans_linear_fast;
}

button {
    &:focus {
        outline: none;
    }
}

ul {
    @include my($space_s);
    padding-left: $space_l;

    li {
        @include py($space_2xs);
    }

    & + p {
        margin-top: $space_xl;
    }
}

::selection {
    color: $color_white;
    background: $color_blue_royal;
}


/*
    Details element
*/
details {
    border: none;
    border-bottom: thin solid darken($color_grey, 15%);
    padding: 0px;
    margin: 0px;

    summary{
        padding: 0px;
        padding-top: $space_m;
        padding-bottom: $space_s;
        list-style: none;
        position: relative;
        transition: $trans_linear_fast;

        &:after {
            display: block;
            content: '+';
            position: absolute;
            top: 14px;
            right: 0px;
            line-height: 1;
            font-size: 22px;
            font-weight: 300;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            color: $color_blue_royal;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }

    &[open] {
        summary:after {
            content: '-';
        }
    }
}
