<div class="c-amenity-item">
    <div class="c-amenity-item__icon">{{ icon }}</div>
    <div class="c-amenity-item__desc">
        <div class="c-amenity-item__desc_title">{{ title }}</div>
        <div class="c-amenity-item__desc_subtitle">{{ subtitle }}</div>
    </div>
</div>