<div class="c-general-property-card">
    <div class="c-general-property-card__title">{{ title }}</div>
    <div class="c-general-property-card__address">
        {{ address_line1 }} 
        {{ city }}
        {{ province }}
    </div>
    <div class="c-general-property-card__image">
        {{ image }}
    </div>
    <div class="c-general-property-card__details">
        <div>
            <div>{{ 'Price (mthly)'|trans }}</div>
            <div>
                {% if min_rent == max_rent %}
                    ${{ min_rent }}
                {% else %}
                    ${{ min_rent }} - {{ max_rent }}
                {% endif %}
            </div>
        </div>
         <div>
            <div>{{ 'Bedrooms'|trans }}</div>
            <div>
                {% if min_beds == max_beds %}
                    {{ min_beds }}
                {% else %}
                    {{ min_beds }} - {{ max_beds }}
                {% endif %}
            </div>
        </div>
        <div>
            
              
            {% if min_avail|striptags('<!-- -->')|date("M") == date('M') %}
                {% set min_avail = 'Now' %}
            {% else %}
                {% set min_avail = min_avail|striptags('<!-- -->')|date("M")|upper %}
            {% endif %}
              
            {% if max_avail|striptags('<!-- -->')|date("M") == date('M') %}
                {% set max_avail = 'Now' %}
            {% else %}
                {% set max_avail = max_avail|striptags('<!-- -->')|date("M")|upper %}
            {% endif %}

            <div>{{ 'Availability'|trans }}</div>
            <div>
                {% if min_avail == max_avail %}
                    {{ min_avail }}
                {% else %}
                    {{ min_avail }} - {{ max_avail }}
                {% endif %}
            </div>
        </div>
    </div>
</div>