<div class="c-unit-row">
    <div class="c-unit-row__field">
        <div class="c-unit-row__field_header">{{ price_label }}</div>
        <div class="c-unit-row__field_content">${{ price }}</div>
    </div>

    <div class="c-unit-row__field">
        <div class="c-unit-row__field_header">{{ bedrooms_label }}</div>
        <div class="c-unit-row__field_content">{{ bedrooms }}</div>
    </div>

    <div class="c-unit-row__field">
        <div class="c-unit-row__field_header">{{ bathrooms_label }}</div>
        <div class="c-unit-row__field_content">{{ bathrooms }}</div>
    </div>

    <div class="c-unit-row__field">
        <div class="c-unit-row__field_header">{{ size_label }}</div>
        <div class="c-unit-row__field_content">{{ size }} Ft<sup>2</sup></div>
    </div>

    <div class="c-unit-row__field">
        <div class="c-unit-row__field_header">{{ availability_label }}</div>
        <div class="c-unit-row__field_content">{{ availability|upper|raw }}</div>
    </div>

    <div class="c-unit-row__apply_now">
    
        <a href="{{ apply_url }}">
            <div class="c-unit-row__apply_now_label">
                <span>{{ 'Apply' | trans }}</span> <span><i class="fal fa-long-arrow-right"></i></span>
            </div>
        </a>
    </div>
</div>

